.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.headerButtons {
  list-style: none;
}

.headerButton {
  display: inline-block;
}

.mainSection {
  width: 100%;
  text-align: center;
}

.human1 {
  width: 20%;
  float: left;
  background-image: url("./images/human1.jpg");
}

.human2 {
  width: 20%;
  float: left;
  background-image: url("./images/human2.jpg");
}

.human3 {
  width: 20%;
  float: left;
  background-image: url("./images/human3.jpg");
}

.human4 {
  width: 20%;
  float: left;
  background-image: url("./images/human4.jpg");
}

.human5 {
  width: 20%;
  float: left;
  background-image: url("./images/human5.jpg");
}